<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Склонение</title>
    <script>
        function decl() {
    $.ajax({
        url: '/index/' + $('#name').val(),
        dataType: 'html'
    }).done(function(data) {
        $('#result').html(data)
    });
   }

    </script>
</head>
<body>
<form action="/index/">
    <input type="text" name="fio" width="100%" placeholder="ФИО" th:value="${!decls.isEmpty()} ? ${decls[0].fio} : ''">
    <input type="submit" value="Склонять">
</form>
<table>
    <thead>
    <tr>
        <th>FIO</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="decl : ${decls}">
        <td th:text="${decl.fio}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>